<!DOCTYPE html>
<html>
<head>
	<title>Politica privacy</title>
  <meta charset="utf-8">
 <script src="https://kit.fontawesome.com/36aded2fbc.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="">
	 <!--load all styles -->
</head>
<body>

  <div class="container">
    <div class="row">

      <div class="col-sm-2 col-lg-2">

      </div>

      <div class="col-sm-8 col-lg-8 ">

        <div class="ht-page__content">
        		<article class="hkb-article" itemscope="" itemtype="https://schema.org/CreativeWork">
        		<meta itemprop="datePublished" content="Agosto 13, 2019">

        			<header class="hkb-article__header">
        				<h1 class="hkb-article__title" itemprop="headline">Politica sulla privacy</h1>
        			</header>


        			<div class="hkb-article__content" itemprop="text">


        <h3 style="text-align: justify;" id="i-per-utente-utente-registrato-inserzionista-privato-che-utilizza-il-sito-o-le-applicazioni"><strong> I. Per Utente, Utente Registrato, Inserzionista Privato che utilizza il Sito o le Applicazioni</strong></h3>
        <p style="text-align: justify;">Cooabit è titolare del trattamento dei dati personali che ci fornisci – attraverso il Sito e i relativi sottodomini o le Applicazioni – ai fini della prestazione dei servizi che ci richiedi in qualità di utente.</p>
        <p style="text-align: justify;">Nel momento in cui ti rivolgi a noi per la fornitura di un servizio e ti iscrivi al nostro Sito o utilizzi le nostre Applicazioni, la tua richiesta si converte in un rapporto contrattuale che rappresenta la base giuridica per il trattamento dei tuoi dati personali.</p>
        <p style="text-align: justify;">Ti potremo inviare inoltre comunicazioni commerciali ma solo con il tuo consenso.</p>
        <p style="text-align: justify;">Se ci hai autorizzati alla cessione dei tuoi dati personali o ci hai inoltrato una richiesta di servizi prestati da altre aziende, dette aziende potrebbero aver bisogno di accedere ai tuoi dati personali per prestarti i servizi richiesti.</p>
        <p style="text-align: justify;">In qualsiasi momento avrai comunque la possibilità di accedere, rettificare o cancellare i tuoi dati personali, nonché di esercitare altri diritti, come spiegato più avanti.</p>
        <h3 style="text-align: justify;" id="ii-per-professionista-immobiliare-o-azienda-persona-giuridica-o-legale-rappresentante-che-utilizza-il-sito-le-applicazioni-o-i-nostri-strumenti-per-professionisti"><strong> II. Per Professionista Immobiliare o azienda (persona giuridica o legale rappresentante) che utilizza il Sito, le Applicazioni o i nostri strumenti per professionisti</strong></h3>
        <p style="text-align: justify;">Cooabit è titolare del trattamento dei dati personali che ci fornisci ai fini della prestazione dei servizi che ci richiedi in base al contratto stipulato con te o l’azienda che rappresenti e Cooabit, la cui esecuzione rientra nell’interesse legittimo di Cooabit e costituisce la base giuridica del trattamento dei tuoi dati personali.</p>
        <p style="text-align: justify;">I tuoi dati possono essere comunicati ai fornitori di servizi di Cooabit che potrebbero aver bisogno di accedervi per la prestazione dei loro servizi contrattati.</p>
        <p style="text-align: justify;">In qualsiasi momento avrai comunque la possibilità di accedere, rettificare o cancellare i tuoi dati personali, nonché di esercitare altri diritti, come spiegato più avanti.</p>
        <h4 style="text-align: justify;" id="e-importante-che-tu-sappia"><strong>È importante che tu sappia:</strong></h4>
        <p style="text-align: justify;">Ti raccomandiamo di leggere attentamente la presente privacy policy, nel testo completo riportato di seguito, per conoscere nei dettagli quali dati personali utilizziamo per ogni servizio che ci richiedi e per quanto tempo abbiamo facoltà di conservarli.</p>
        <p style="text-align: justify;">Questa privacy policy può essere modificata da Cooabit, pertanto ti raccomandiamo di consultarla regolarmente.</p>
        <p style="text-align: justify;">Facendo clic sul pulsante “Ok, iniziamo”, o equivalente, dichiari di aver letto e compreso la presente informativa e di accettare la privacy policy di Cooabit.</p>
        <p style="text-align: justify;">Ora entriamo nello specifico con il testo legale, quindi potrai scoprire tutto ciò che facciamo (e non) con i tuoi dati. Puoi andare a prendere una buona tazza di tè, succo di frutta o caffè e mettere la tua musica preferita in sottofondo in modo che la lettura diventi più leggera.</p>
        <p style="text-align: center;">* * *</p>
        <p style="text-align: justify;"><strong>Indice</strong></p>
        <ol style="text-align: justify;">
        <li><a href="#_Toc15900353"> Titolare del trattamento: chi è titolare del trattamento dei tuoi dati?</a></li>
        <li><a href="#_Toc15900354"> Finalità del trattamento: cosa facciamo con i tuoi dati personali?</a></li>
        <li><a href="#_Toc15900355"> Base giuridica / legittimazione: perché possiamo trattarli?</a></li>
        <li><a href="#_Toc15900356"> Destinatari: a chi possiamo comunicare i tuoi dati?</a></li>
        <li><a href="#_Toc15900361"> Comunicazioni di dati: dove possiamo inviare i tuoi dati?</a></li>
        <li><a href="#_Toc15900362"> Durata del periodo di conservazione: per quanto tempo potremo conservare e trattare i tuoi dati?</a></li>
        <li><a href="#_Toc15900363"> Informazioni necessarie e aggiornate</a></li>
        <li><a href="#_Toc15900364"> Diritti degli interessati</a></li>
        <li><a href="#_Toc15900365"> Riservatezza e sicurezza</a></li>
        <li><a href="#_Toc15900366"> Informazioni supplementari su determinate funzionalità del Sito</a></li>
        </ol>
        <h2 id="1-titolare-del-trattamento-chi-e-titolare-del-trattamento-dei-tuoi-dati"><a name="_Toc15900353"></a><strong>1. Titolare del trattamento: chi è titolare del trattamento dei tuoi dati?</strong></h2>
        <p style="text-align: justify;">Cooabit S.r.l., società a responsabilità limitata, a socio unico, con sede legale in Corso Italia, 3 – 20122 – Milano (MI) p. IVA e codice fiscale n.05388220963, iscritta al Registro delle imprese di Milano con numero R.E.A. MI-181742, capitale sociale pari ad euro 10,000.00 i.v., soggetta alla direzione e al coordinamento di Cooabit S.A.U. (di seguito, “<strong>Cooabit</strong>”) è titolare del trattamento dei dati personali inviati attraverso il nostro sito web e relativi sottodomini o nostre applicazioni mobili (di seguito, il “<strong>Sito</strong> ” e le “<strong>Applicazioni</strong>“).</p>
        <p style="text-align: justify;">Nelle seguenti clausole ti forniamo tutte le informazioni sui diritti che ti spettano, nonché sull’utilizzo che faremo dei tuoi dati personali, sia nel caso in cui utilizzi il nostro Sito o le nostre Applicazioni per ricercare informazioni su immobili pubblicati (in tal caso ti qualificherai come “<strong>Utente</strong>” o “<strong>Utente Registrato</strong>”), sia nel caso in cui pubblicherai annunci di immobili come privato (in tal caso ti qualificherai come “<strong>Inserzionista Privato</strong>“) o nel caso in cui pubblicherai annunci di immobili come professionista immobiliare o rappresentante di agenzia immobiliare (in tal caso ti qualificherai come “<strong>Professionista Immobiliare</strong>”), il tutto ai sensi e nel rispetto del Regolamento generale sulla protezione dei dati UE 2016/679 (“<strong>GDPR</strong>”).</p>
        <p style="text-align: justify;">In caso di dubbi o domande sul trattamento dei tuoi dati personali puoi contattarci all’indirizzo e-mail <a href="mailto:privacy@Cooabit.it">privacy@Cooabit.it</a>, oppure puoi rivolgerti al nostro <strong>responsabile della protezione dei dati (DPO)</strong> all’indirizzo e-mail <a href="mailto:dpo@Cooabit.com">dpo@Cooabit.com</a>.</p>
        <h2 style="text-align: justify;" id="2-finalita-del-trattamento-cosa-facciamo-con-i-tuoi-dati-personali"><a name="_Toc15900354"></a>2. Finalità del trattamento: cosa facciamo con i tuoi dati personali?</h2>
        <ol>
        <li><strong>a)</strong> Trattiamo i tuoi dati personali per fornire i servizi che ci hai richiesto attraverso il Sito e le Applicazioni. L’elenco dei servizi include:</li>
        </ol>
        <ul style="text-align: justify;">
        <li>registrazione come Utente;</li>
        <li>storico e gestione di ricerche di immobili;</li>
        <li>facilitare il contatto con inserzionisti;</li>
        <li>pubblicazione di annunci;</li>
        <li>chat di contatto;</li>
        <li>servizio di stima degli immobili;</li>
        <li>servizio di richiesta dell’attestato di prestazione energetica;</li>
        <li>servizi multimediali che possano aiutarti a migliorare il tuo annuncio (book fotografici, video professionali, planimetrie 3D, <em>virtual tour</em>, etc.);</li>
        <li>servizio di esportazione di immobili;</li>
        <li>invio di informazioni su immobili simili che possano interessarti.</li>
        </ul>
        <p><strong>b)</strong> Nel caso in cui farai un reclamo o farai una domanda, tratteremo i tuoi dati per gestire tali richieste.</p>
        <p><strong>c)</strong> Se sei un Utente o un Inserzionista Privato, potremo inviarti comunicazioni commerciali dopo che tu le abbia espressamente accettate, per i seguenti scopi:</p>
        <ul style="text-align: justify;">
        <li>comunicarti informazioni su immobili, notizie del settore e altre comunicazioni promozionali relative a Cooabit e le sue società affiliate (Rentalia, Cooabit/mutui);</li>
        <li>comunicarti offerte speciali di aziende che potranno assisterti nel processo di vendita/affitto del tuo immobile (aziende immobiliari, promotrici, energetiche, compagnie assicuratrici, consulenti e società di valutazione immobiliare); e</li>
        <li>richiederti di partecipare a indagini di mercato per migliorare il nostro servizio.</li>
        </ul>
        <p><strong>d)</strong> Se sei un Utente o un Utente Registrato potremmo definire un profilo in base alle informazioni riguardanti le ricerche da te realizzate, agli immobili che hai salvato come “preferiti” o in base ai contatti che hai avuto con inserzionisti, al fine di mostrarti immobili simili che possano essere di tuo interesse attraverso comunicazioni.</p>
        <p><strong>e)</strong> Se sei un rappresentante o un referente di un Professionista Immobiliare, gestiamo i tuoi dati personali per mantenere i contatti e sviluppare la relazione commerciale con le aziende che rappresenti. Inoltre, possiamo inviarti comunicazioni commerciali dopo che tu le abbia espressamente accettate, per informarti su:</p>
        <ul style="text-align: justify;">
        <li>eventi e corsi di Cooabit o delle sue affiliate (Rentalia, Cooabit/mutui);</li>
        <li>informazioni su immobili, notizie e altre promozioni riguardanti Cooabit o le sue affiliate (Rentalia, Cooabit/mutui);</li>
        <li>richieste di partecipazione a indagini o studi di mercato.</li>
        </ul>
        <p><strong>f)</strong> Se hai contrattato un servizio a pagamento, sei Inserzionista Privato o persona di contatto di un Professionista Immobiliare, tratteremo i tuoi dati anche per gestire le richieste di addebito per i nostri servizi.</p>
        <h2 style="text-align: justify;" id="3-base-giuridica-legittimazione-perche-possiamo-trattarli"><a name="_Toc15900355"></a>3. Base giuridica / legittimazione: perché possiamo trattarli?</h2>
        <p style="text-align: justify;">Le basi giuridiche che ci autorizzano al trattamento dei dati personali per ognuna delle finalità indicate nella sezione 2 che precede sono:</p>
        <p>a) <strong>Relazione contrattuale</strong>: sussiste da quando ci richiedi uno dei servizi indicati nella sezione 2.a) anche quando si tratta di servizio gratuito.</p>
        <p>b) <strong>Legittimo interesse</strong>: per evadere i reclami e le domande che ci inoltri (2.b) e per gestire le richieste di addebito (2.f). Se sei rappresentante o persona di contatto di un Professionista Immobiliare, Cooabit ha legittimo interesse a rimanere in contatto con l’azienda che rappresenti, alla quale prestiamo i nostri servizi, per invitarti a eventi e corsi di Cooabit (2.e)</p>
        <p>c) <strong>Tuo consenso</strong>:</p>
        <ul>
        <li style="list-style-type: none;">
        <ul style="text-align: justify;">
        <li>se sei un Utente Registrato o Inserzionista Privato, spuntando l’apposita casella nel modulo di registrazione e visualizzabile nella sezione “Le tue newsletter”, ci autorizzi a inviarti le comunicazioni elencate nella sezione precedente 2 c).</li>
        <li>se sei rappresentante o persona di contatto di un Professionista Immobiliare, spuntando l’apposita casella quando ci contatti o contratti uno dei nostri servizi, ci autorizzi a inviarti le comunicazioni elencate nella sezione precedente 2 e).</li>
        </ul>
        </li>
        </ul>
        <h2 style="text-align: justify;" id="4-destinatari-a-chi-possiamo-comunicare-i-tuoi-dati"><a name="_Toc15900356"></a>4. Destinatari: a chi possiamo comunicare i tuoi dati?</h2>
        <p style="text-align: justify;">Potremo comunicare i tuoi dati a terzi nei seguenti casi:</p>
        <h3 style="text-align: justify;" id="per-la-sezione-2-a-precedente-servizi-da-te-richiesti"><a name="_Toc15900357"></a>Per la sezione 2 a) precedente (servizi da te richiesti)</h3>
        <ul style="text-align: justify;">
        <li>agli inserzionisti con cui ti sei messo in contatto per inoltrare loro le tue richieste.</li>
        <li>a Credipass S.r.l. o a Cooabit/mutui (Cooabit Crédito Y Financiación, S.L.), se richiedi uno dei servizi di gestione mutui.</li>
        <li>a Cooabit quando richiedi un servizio di stima del valore di un immobile o una visura catastale;</li>
        <li>ad altre società di Cooabit (nominate in precedenza), al fine di trasmetterti informazioni su immobili, notizie del settore e altre comunicazioni promozionali, se ci hai dato il tuo consenso;</li>
        <li>ad amministrazioni pubbliche e autorità giudiziarie in adempimento a eventuali obblighi di legge;</li>
        <li>a società di valutazione immobiliare, quando richiedi il certificato energetico;</li>
        <li>a società di gestione di aggregatori o portali immobiliari, per la pubblicazione dei tuoi immobili quando richiedi il servizio di esportazione su altri portali (nel caso in cui tu sia un Professionista Immobiliare).</li>
        </ul>
        <h3 style="text-align: justify;" id="per-la-sezione-2-c-precedente-se-sei-utente-utente-registrato-o-inserzionista-privato"><a name="_Toc15900358"></a>Per la sezione 2 c) precedente (se sei Utente, Utente Registrato o Inserzionista privato)</h3>
        <ul style="text-align: justify;">
        <li>ad aziende terze del settore immobiliare, aziende energetiche, compagnie assicurative, società di consulenza e di valutazione immobiliare, nonché altre società di Cooabit, se ci hai dato il tuo consenso e al fine di inviarti comunicazioni commerciali.</li>
        </ul>
        <h3 style="text-align: justify;" id="per-tutte-le-altre-finalita"><a name="_Toc15900359"></a>Per tutte le altre finalità</h3>
        <p style="text-align: justify;">I tuoi dati non saranno ceduti a terzi, salvo che ciò sia necessario per assolvere ad adempimenti di legge.</p>
        <p style="text-align: justify;">Potranno accedere ai tuoi dati i fornitori di Cooabit che siano responsabili del trattamento, inclusi quelli che ci prestano servizi di tecnologia o di invio, ricezione di documentazione e strumenti di supporto per analizzare il funzionamento del Sito e delle Applicazioni.</p>
        <p style="text-align: justify;">Puoi richiedere ulteriori informazioni sui destinatari dei tuoi dati personali rivolgendoti all’indirizzo email <a href="mailto:privacy@Cooabit.it">privacy@Cooabit.it</a>, citando il trattamento o l’utilizzo specifico da parte dei destinatari sui quali intendi richiedere informazioni.</p>
        <h2 style="text-align: justify;" id="5-comunicazioni-di-dati-dove-possiamo-inviare-i-tuoi-dati"><a name="_Toc15900361"></a>5. Comunicazioni di dati: dove possiamo inviare i tuoi dati?</h2>
        <p style="text-align: justify;">Non effettueremo trasferimenti internazionali dei tuoi dati personali per nessuna delle finalità sopra elencate.</p>
        <h2 style="text-align: justify;" id="6-durata-del-periodo-di-conservazione-per-quanto-tempo-potremo-conservare-e-trattare-i-tuoi-dati-personali"><a name="_Toc15900362"></a>6. Durata del periodo di conservazione: per quanto tempo potremo conservare e trattare i tuoi dati personali?</h2>
        <p style="text-align: justify;">In base a ciascuna delle finalità per le quali trattiamo i tuoi dati, la durata di conservazione e trattamento potrà protrarsi:</p>
        <ul style="text-align: justify;">
        <li><strong>per tutta la relazione contrattuale</strong>. Fino a quando utilizzi i nostri servizi o finché il nostro fornitore gestisca la richiesta che ci hai inoltrato (sezione 2.a precedente);</li>
        <li><strong>fino alla risoluzione della richiesta di consulenza o del reclamo inoltrato</strong> (sezioni 2.b 2.f);</li>
        <li><strong>fino alla revoca del tuo consenso</strong> (sezioni 2.c e 2.e);</li>
        <li><strong>se sei rappresentante o persona di contatto di un Inserzionista Professionale, per tutta la relazione contrattuale</strong> con la società che rappresenti o, con riferimento a determinati dati, fino a quando non ci comunichi di non essere più persona di contatto (sezione 2.e);</li>
        <li><strong>fino a quando non ne richiedi l’eliminazione, nelle possibilità e nei limiti permessi dalla legge </strong>(ciò si applica a tutte le finalità elencate nella sezione 2).</li>
        </ul>
        <p style="text-align: justify;">Ti informiamo che i tuoi dati verranno conservati “bloccati” durante l’intera durata del trattamento nonché per il periodo di tempo corrispondente al termine di prescrizione di eventuali azioni, di volta in volta per ognuna delle finalità del trattamento elencate nella sezione 2.</p>
        <p style="text-align: justify;">Qualora tu sia un Inserzionista Privato (tanto qualora tu abbia usufruito del servizio di pubblicazione gratuita di immobili quanto del servizio a pagamento), ti informiamo che, quando richiederai la cancellazione dei servizi, conserveremo comunque il tuo numero di telefono “bloccato” dalla data di disattivazione dell’ultimo annuncio fino al termine di prescrizione legale previsto per eventuali obbligazioni/azioni (6 anni). Durante il periodo di blocco, potremo effettuare controlli di sicurezza per garantire il corretto funzionamento dei nostri servizi.</p>
        <h2 style="text-align: justify;" id="7-informazioni-necessarie-e-aggiornate"><a name="_Toc15900363"></a>7. Informazioni necessarie e aggiornate</h2>
        <p style="text-align: justify;">Nei moduli sono presenti campi di compilazione obbligatoria senza i quali dati non potremmo fornirti i nostri servizi. Facendo click sul pulsante “Ok, iniziamo” (o equivalente) come appare in tali moduli, dichiari automaticamente che le informazioni e i dati fornitici sono veritieri ed esatti.</p>
        <p style="text-align: justify;">Affinché le informazioni forniteci siano sempre aggiornate e non contengano errori, ti ricordiamo di comunicarci, il prima possibile, eventuali modifiche e rettifiche ai tuoi dati personali all’indirizzo email <a href="mailto:privacy@Cooabit.it">privacy@Cooabit.it</a>. Puoi anche aggiornare direttamente i tuoi dati (come numero di telefono e indirizzo e-mail) nella tua area privata sul Sito o sulle Applicazioni.</p>
        <h2 style="text-align: justify;" id="8-diritti-degli-interessati"><a name="_Toc15900364"></a>8. Diritti degli interessati</h2>
        <p style="text-align: justify;">Ti informiamo che potrai esercitare i seguenti diritti:</p>
        <ol style="text-align: justify;">
        <li>Diritto di accesso ai tuoi dati personali per sapere quali sono oggetto di trattamento e per conoscere le operazioni di trattamento effettuate con tali dati;</li>
        <li>Diritto di rettifica di eventuali dati personali inesatti;</li>
        <li>Diritto di cancellazione dei tuoi dati personali, qualora ciò sia possibile (per esempio, per obbligo di legge);</li>
        <li>Diritto di richiedere la limitazione del trattamento dei tuoi dati personali quando l’esattezza, la liceità o la necessità del trattamento dei dati risulti dubbia e, in tal caso, Cooabit ha comunque facoltà di conservarli “bloccati” per l’esercizio o la tutela dei propri diritti in caso di reclami;</li>
        <li>Diritto di opposizione al trattamento dei tuoi dati personali, qualora la base giuridica che ci autorizza al trattamento sia un interesse legittimo di Cooabit. Ci asterremo dal trattare i tuoi dati salvo che Cooabit possieda un interesse legittimo a trattarli o sia necessario trattarli per l’esercizio o la tutela dei nostri diritti in caso di reclami;</li>
        <li>Diritto alla portabilità dei tuoi dati personali, quando la base giuridica che ci autorizza a trattarli sia l’esistenza di un rapporto contrattuale o la prestazione del tuo consenso;</li>
        <li>Diritto di revoca del consenso prestato a Cooabit.</li>
        </ol>
        <p style="text-align: justify;">Potrai esercitare i tuoi diritti in qualsiasi momento e gratuitamente nei seguenti modi:</p>
        <ol style="text-align: justify;">
        <li>Dalla tua area privata sul Sito e sulle Applicazioni, potrai disdire direttamente l’invio di tutte le comunicazioni commerciali accettate in precedenza. Attraverso questa sezione potrai selezionare e personalizzare il tipo di notifiche che desideri ricevere da Cooabit;</li>
        <li>In caso di impossibilità ad accedere al Sito e alle Applicazioni, potrai rivolgerti all’indirizzo email <a href="mailto:privacy@Cooabit.it">privacy@Cooabit.it</a>, citando il diritto che intendi esercitare e fornendo i tuoi dati identificativi.</li>
        </ol>
        <p style="text-align: justify;">Ti informiamo inoltre che hai il diritto di sporgere eventuali reclami al Garante per la protezione dei dati personali, se ritieni che sia stata commessa una violazione delle normative vigenti in materia di protezione dei dati personali relativa al trattamento dei tuoi dati personali.</p>
        <h2 style="text-align: justify;" id="9-riservatezza-e-sicurezza"><a name="_Toc15900365"></a>9. Riservatezza e sicurezza</h2>
        <p style="text-align: justify;">Noi di Cooabit facciamo tutto il possibile per salvaguardare la riservatezza dei dati personali oggetto di trattamento attraverso il Sito e le Applicazioni o altri eventuali strumenti di Cooabit. Adottiamo rigorosi livelli di sicurezza per la protezione dei dati personali che trattiamo, per prevenire la distruzione accidentale o illegale, la perdita, la modifica, la rivelazione o l’accesso non autorizzati, tenuto conto dello stato della tecnologia, della natura e dei rischi ai quali sono esposti i dati. Ciononostante, Cooabit non è responsabile dell’uso che tu fai dei tuoi dati personali (username e password inclusi) su Cooabit al di fuori dei nostri strumenti, Sito o Applicazioni.</p>
        <h2 style="text-align: justify;" id="10-informazioni-supplementari-su-determinate-funzionalita-del-sito"><a name="_Toc15900366"></a>10. Informazioni supplementari su determinate funzionalità del Sito</h2>
        <h3 style="text-align: justify;" id="modulo-inviare-questa-ricerca-a-un-amico"><a name="_Toc15900367"></a>Modulo “Inviare questa ricerca a un amico”</h3>
        <p style="text-align: justify;">Cooabit non tratterà i dati personali degli amici che includi nel modulo “Condividi”.</p>
        <h3 style="text-align: justify;" id="uso-dellarchivio-messaggi-e-messaggistica-istantanea-interna-chat"><a name="_Toc15900368"></a>Uso dell’archivio messaggi e messaggistica istantanea interna (chat)</h3>
        <p style="text-align: justify;">Al fine di ottimizzare la tua esperienza d’utente, Cooabit ti mette a disposizione un servizio di archiviazione di messaggi (inviati o ricevuti) e di messaggistica istantanea interna (chat) sul Sito e sulle Applicazioni attraverso cui gli Utenti, gli Utenti Registrati e gli Inserzionisti possono mettersi in contatto e proseguire la comunicazione tra di loro. Accettando la presente politica sulla privacy, acconsenti esplicitamente all’archiviazione di tali conversazioni da parte di Cooabit, nonché all’accesso da parte di Cooabit alle conversazioni archiviate e all’utilizzo da parte di Cooabit sistemi automatizzati per verificarle allo scopo di garantire il rispetto delle nostre Condizioni Generali di utilizzo del servizio, nonché per le altre finalità descritte nella presente informativa.</p>
        <p style="text-align: justify;">Ci riserviamo il diritto di bloccare l’accesso al servizio di messaggistica istantanea qualora, a nostra discrezione, ritenessimo che le comunicazioni possano contenere contenuti dannosi, spam o comportino alcun rischio per Utenti, Utenti Registrati o Inserzionisti. Dal momento che Cooabit mette a disposizione varie forme di contatto, gli Utenti, gli Utenti Registrati o gli Inserzionisti possono scegliere di contattarti direttamente all’indirizzo e-mail o al numero di telefono che ci hai fornito, o con altri mezzi di comunicazione che sfuggono al controllo Cooabit.</p>
        <h3 style="text-align: justify;" id="registrazione-nome-utente-e-password"><a name="_Toc15900369"></a>Registrazione nome utente e password</h3>
        <p style="text-align: justify;">Per registrarti sul Sito e sulle Applicazioni, devi inserire un nome utente e una password che ti permetterà di accedere, in qualsiasi momento, come “Utente registrato” e di gestire il tuo rapporto con Cooabit. La password può essere modificata.</p>
        <p style="text-align: justify;">È essenziale salvare e custodire la password, evitando di cederla o comunicarla a terzi. Ti raccomandiamo di non utilizzare la stessa password per tutti i tuoi account personali, in tal modo evitando che, in caso di eventuali tentativi di accesso non autorizzato o illecito da parte di terzi, questi possano accedere ai tuoi ulteriori account creati su altri siti.</p>
        <h3 style="text-align: justify;" id="informazioni-raccolte-passivamente"><a name="_Toc15900370"></a>Informazioni raccolte passivamente</h3>
        <p style="text-align: justify;">Al fine di prestare i propri servizi, utilizzeremo software e/o servizi di terzi per raccogliere informazioni passivamente, mentre navighi o interagisci con i contenuti del nostro Sito o di quelli di società affiliate o partecipate di Cooabit, nonché altre informazioni sul dispositivo da te utilizzato.</p>
        <p style="text-align: justify;">L’unico proposito della raccolta passiva di queste informazioni è quello di conoscere meglio come utilizzi e interagisci con il Sito e le Applicazioni per migliorare la tua esperienza nell’utilizzo dei nostri servizi e identificare eventuali errori nell’implementazione del nostro Sito. Le informazioni raccolte includono, tra le altre:</p>
        <ul style="text-align: justify;">
        <li>indirizzo IP del tuo dispositivo;</li>
        <li>risoluzione dello schermo del dispositivo utilizzato;</li>
        <li>tipo di dispositivo (identificativo univoco) e informazioni sul browser;</li>
        <li>geolocalizzazione;</li>
        <li>lingua selezionata con cui visualizzi il Sito;</li>
        <li>pagine visitate all’interno del Sito;</li>
        <li>data e ora in cui sono state visitate le pagine del Sito.</li>
        </ul>
        <p style="text-align: justify;">Maggiori informazioni sulle informazioni raccolte passivamente sono reperibili leggendo la nostra <a href="https://www.Cooabit.it/info/cookie-policy">Cookies Policy</a>.</p>
        <h3 style="text-align: justify;" id="servizio-Cooabit-tools-che-succede-integrando-il-tuo-account-google-con-il-software-Cooabit-tools"><a name="_Toc15900371"></a>Servizio Cooabit/tools. Che succede integrando il tuo account Google con il software Cooabit/tools?</h3>
        <p style="text-align: justify;">Quando procedi all’integrazione del tuo account di Google con il nostro software di gestione Cooabit/tools, procederemo ad esportare tutte le informazioni rilevanti per garantirti un’esperienza sempre migliore del nostro servizio.</p>
        <h3 style="text-align: justify;" id="servizio-Cooabit-tools-quali-dati-ricaviamo-quando-integri-il-tuo-account-google-con-il-nostro-software"><a name="_Toc15900372"></a>Servizio Cooabit/tools. Quali dati ricaviamo quando integri il tuo account Google con il nostro software?</h3>
        <ul style="text-align: justify;">
        <li><strong>Utente Google</strong>: riceveremo tutti i tuoi dati personali come utente di Google, inclusi, tra gli altri, nome e cognome, indirizzo e-mail e/o numero di telefono, nonché tutte le informazioni che si trovano criptate nei nostri database.</li>
        <li><strong>Google Calendar</strong>: dal tuo calendario esporteremo direttamente le informazioni relative alle attività ed eventi importanti per la tua attività.</li>
        <li><strong>Gmail</strong>: procederemo al trattamento di tutte le e-mail dei contatti che hai registrato nella nostra applicazione Cooabit/tools, con l’obiettivo di tenere una cronologia e un registro completi di tutte le comunicazioni con i tuoi clienti. Procederemo inoltre al trattamento di tutte le mail di portali immobiliari per importare tutti i contatti che riceverai sul tuo CRM (unicamente per utenti livello Office).</li>
        </ul>
        <h3 style="text-align: justify;" id="servizio-Cooabit-tools-chi-avra-accesso-ai-tuoi-dati-personali-raccolti-con-integrazione-del-tuo-account-di-google"><a name="_Toc15900373"></a>Servizio Cooabit/Tools. Chi avrà accesso ai tuoi dati personali raccolti con integrazione del tuo account di Google?</h3>
        <p style="text-align: justify;">In primo luogo, tu, mediante l’integrazione del tuo account Google e il nostro software Cooabit/tools, e poi noi di Cooabit, come utenti a livello di amministratore e in qualità di supervisori. Importeremo unicamente le informazioni considerate rilevanti al fine dell’integrazione con il nostro software Cooabit/tools.</p>
				<p style="text-align: justify;">La Piattaforma cooabit può contenere link a siti web o servizi di terzi, quali, ad esempio, integrazioni di terze parti, servizi in co-branding o servizi a marchio di terzi (“Partner terzi”). cooabit non possiede o controlla tali Partner terzi e quando l’utente interagisce con loro, informazioni dell’utente potrebbero essere fornite direttamente ai Partner terzi, cooabit o a entrambi. Tali Partner terzi hanno proprie norme in tema di raccolta, uso e divulgazione di dati. Ti invitiamo a leggere attentamente le Informative sulla privacy degli altri siti che visiti.

Parti della Piattaforma cooabit possono utilizzare servizi di terzi come i servizi di Google Maps/Earth, tra cui le API di Google Maps, Stripe e Lemonway per i Pagamenti di cooabit. L’uso di questi rispettivi servizi è soggetto alle Informative sulla privacy correlate come i Termini di utilizzo aggiuntivi di Google Maps/Earth, l’Informativa sulla privacy di Google e l’Informativa sulla privacy di Stripe.</p>

<h3 style="text-align: justify;" id="servizio-Cooabit-tools-chi-avra-accesso-ai-tuoi-dati-personali-raccolti-con-integrazione-del-tuo-account-di-google"><a name="_Toc15900373"></a>Servizio Cooabit/Tools. Pubblicità e social media; Condivisione con il tuo consenso.</h3>
<p style="text-align: justify;">Laddove tu abbia dato il tuo consenso, possiamo condividere i tuoi dati, compresi i dati personali, come descritto nel momento in cui abbiamo ottenuto il tuo consenso, ad esempio quando autorizzi un’applicazione o un sito web di terzi parti ad accedere al tuo Account cooabit, o quando partecipi ad attività promozionali condotte da partner cooabit o terze parti.

Laddove consentito ai sensi della legge applicabile, potremmo utilizzare alcune informazioni personali limitate su di te, come il tuo indirizzo e-mail, per fare l'hash e condividerlo con piattaforme di social media, come Facebook o Google, per generare lead, guidare il traffico verso i nostri siti web o promuovere in altro modo i nostri prodotti e servizi o la piattaforma cooabit. Tali attività di trattamento si basano sul nostro legittimo interesse a intraprendere attività di marketing al fine di offrirti prodotti o servizi di tuo eventuale interesse.

cooabit non controlla né supervisiona le piattaforme di social media con le quali possono essere condivisi i tuoi dati personali. Pertanto, ogni domanda relativa a come i tuoi dati personali vengano trattati da parte del fornitore di social media deve essere indirizzata al fornitore in questione.

Ti ricordiamo che in qualunque momento puoi richiedere a cooabit la cessazione del trattamento dei tuoi dati a scopi di marketing, inviando un’email a assistenza@cooabit.com.</p>




<h3 style="text-align: justify;" id="servizio-Cooabit-tools-chi-avra-accesso-ai-tuoi-dati-personali-raccolti-con-integrazione-del-tuo-account-di-google"><a name="_Toc15900373"></a>Servizio Cooabit/Tools. Informazioni che raccogliamo da Terze Parti.</h3>
<p style="text-align: justify;">cooabit può raccogliere dati, compresi i tuoi dati personali, che terzi forniscono riguardo a te quando usano la piattaforma di cooabit e i Servizi di Pagamento, oppure ottenere informazioni da altre fonti e combinarle con le informazioni che raccogliamo attraverso la Piattaforma cooabit e i Servizi di Pagamento. Non controlliamo, supervisioniamo né rispondiamo per le modalità di trattamento delle tue informazioni personali da parte di tali terze parti, pertanto ogni richiesta d’informazione rispetto alla comunicazione delle tue informazioni personali deve essere inoltrata direttamente a tali terze parti.

•Servizi di terzi. Se colleghi, ti connetti o accedi al tuo Account cooabit con un servizio di terzi (ad es. Google, Facebook), tale strumento può inviarci informazioni quali, ad esempio, dati di registrazione, lista degli amici e profilo utente su tale servizio. Tali informazioni variano e sono controllate da tale servizio o come autorizzato dall’utente tramite le sue impostazioni di privacy su tale servizio.

•Se sei invitato a cooabit, la persona che ti ha invitato può inviare informazioni personali su di te come il tuo indirizzo e-mail o altre informazioni di recapito.</p>
        			</div>






        <div class="hkb-article-tags">
        	</div>


        <div class="hkb-feedback">

        					<div class="ht-voting" id="ht-voting-post-2630">



		
        	<!-- no new vote -->

        							</div>
        			</div>




        <!-- .hkb-article__related -->

        <!-- /.hkb-article__related -->



        		</article>


        		</div>

        </div>
        <div class="col-sm-2 col-lg-2">

        </div>
        </div>
        </div>





<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
