<html>
<head>
	<title>Footer</title>


 <script src="https://kit.fontawesome.com/36aded2fbc.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="singolacasa.css">
<style >
footer {
text-align: center;
padding: 3px;
background-color: DarkSalmon;
color: white;
}
</style>
</head>


<body>



  <footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">
      <div class="container">
        <div class="row">
          <div class="col-sm">
          <p class="text-justify"><strong>Convivio</strong> <p>
            <ul style="list-style: none;">
              <li>Aito</li>
              <li>Regole</li>
              <li>Sicurezza</li>
              <li>Conzioni</li>
              <li>Privacy</li>
              <li>Aito</li>
            </ul>
          </div>
          <div class="col-sm">
            <ul style="list-style: none;">
              <li>Chi siamo</li>
              <li>Lavora con noi</li>
              <li>Sostenibilità</li>
              <li>Mappa sito</li>

            </ul>

          </div>
          <div class="col-sm">
            <p><strong>Seguici Su</strong> <p>
              <ul style="list-style: none;">
                <li>Facebook</li>
                <li>Istagram</li>
                <li>Twitter</li>
                <li>Mail</li>

              </ul>
          </div>
        </div>
      </div>



    </span>
  </div>



</div>




<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
    </html>
