{% extends 'base.html' %}
{% load static %}

{%  load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - cambia password {% endblock head_title %}
{% block headcontent %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock headcontent %}

{% block content %}

<div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form class="" method="post" >
      {% csrf_token %}
      {{ form | crispy }}

      <input type="submit" class="fadeIn fourth" value="Cambia">
    </form>

  </div>
</div>

{% endblock content %}
