{% extends 'base.html' %}

{%  load crispy_forms_tags %}

{% block head_title %}{{ block.super }} - reset confirm {% endblock head_title %}

{% block content %}

  <div class="row justify-content-center mt-4">
    <div class="col-6 text-center">
      {% if validlink %}
        <p>Inserisci e conferma la nuova password</p>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form | crispy }}
        <input type="submit" class="btn btn-info" value="Cambia password">
      </form>
      {% else %}
      <h1>Errore</h1>
      <p>Il link eseguito non è più valido</p>
      {% endif %}
    </div>
  </div>

{% endblock content %}
