
.onBord{
	background-color: #F7F9F9;
}


.firstInfo{
  position: relative;
  padding-bottom: 20%;
  padding-top: 10%;
}
.logo1{
  display: block;
  margin-left: 40px;
  margin-right: auto;
  width: 90%;
}



.intro{

	padding: 25px 50px 75px 100px;
}
.box{
	width: 50%;
	text-align: center;
	margin: 0 auto;

}


.img1{
width: 320px;
height: 200px;

}
.img2{
width: 250px;
height: 200px;

}
.img3{
width: 320px;
height: 200px;

}
@media only screen and (min-width: 1200px) {

.contain-max {
  width: 1120px;
  height: 400px;

  display: flex;
  align-items: center;
}


/* @media only screen and (max-width: 500px) {
    .showcase{
			display: none;
		}
} */

.imgInfo1{
	padding-left: 150px;

}

@media (min-width: 320px) and (max-width: 480px) {

	.imgInfo1{
	margin: auto;
  width: 50%;
	padding: 0;

	}


}
