extends _pug-includes/layout.pug

block vars 
    - var active = 'category'
    - var mapUsed = true
    - var hideTopbar = true

block content

    .container-fluid
    
    section.py-6.bg-gray-100
        .container
            .row.mb-5
                .col-md-8 
                    h1 MyMatch  
                    | {% if request.user.is_authenticated  %}

                    p.lead.text-muted.text-justify {{user.first_name}} {% if conta_case < 1  %} 
                        |Non hai ancora match ! I coinquilini fanno la differenza, ti aiuteremo a trovare quelli che fanno per te. 
                        |La nostra piattaforma unisce profili compatibili dando la possibilità di avere un esperienza di co living da non dimenticare.
                        |{% else %} ecco i tuoi match. 
                        | {% endif %}
                .col-md-4.d-md-flex.align-items-center.justify-content-end
    
            .row
                                          
                | {% for casa, coinqulino in utenti.items %}
                | {% if casa.active == 'True' %}
                div(class='col-sm-6 col-xl-4 mb-5 hover-animate')
                    .card.h-100.border-0.shadow
                      .card-img-top.overflow-hidden.gradient-overlay
                        img.d-block.w-100(src='{{ casa.foto1.url }}' alt='Home' style='width: 100%; height: 250px; object-fit: cover;')
                        a.tile-link(href='{{ casa.get_absolute_url }}')
                        .card-img-overlay-top.text-right
                          a.card-fav-icon.position-relative.z-index-40(href='javascript: void();')
                            svg.svg-icon.text-white
                              use(xlink:href='#heart-1')
                      .card-body.d-flex.align-items-center
                        .w-100
                          h6.card-title
                            a.text-decoration-none.text-dark {{ casa.tipo_immobile }}
                          .row
                            .form-group.col-md-8.mb-0
                              a.text-sm.text-secondary.card-subtitle.mb-2
                                i.fa.fa-map-marker.text-secondary.opacity-4.mr-1
                                | {{ casa.citta }}
                            .form-group.col-md-4.mb-0
                            
                              form(action="{% url 'thunder_casa' %}" method='post')
                                | {% csrf_token %}
                                button.btn.btn-primary.btn-sm(type='submit' name='casa_id' value='{{ casa.id }}')
                                  i.fas.fa-house-user  
                                  |  chat

                          p.text-sm.text-muted {{casa.zona}}
                          p.card-text.d-flex.justify-content-between.text-gray-800.text-sm
                            span.mr-1
                              i.fa.fa-ruler-combined.text-primary.opacity-4.text-xs.mr-1
                              | {{ casa.m_quadri }} m
                              sup 2
                            span.mr-1
                              i.fa.fa-bed.text-primary.opacity-4.text-xs.mr-1
                              | {{ casa.postiTotali }}
                            span.mr-1
                              i.fa.fa-bath.text-primary.opacity-4.text-xs.mr-1
                              | {{ casa.bagni }}
                            span
                              i.fa.fa-tag.text-primary.opacity-4.text-xs.mr-1
                              | {{ casa.prezzo }}&euro;
                |           {% else %}
                |           {% endif %}

                |{% empty %}
                section.py-6.bg-gray-100
                    .container
                        .text-center.pb-lg-4
                            p.subtitle.text-secondary Convivere con le persone giuste è importane
                            h2.mb-5 In pochi semplici passi

                        - var advantages = []
                        - advantages.push({name: 'Metti like alle case', icon:'property-1'})
                        - advantages.push({name: 'Effettua un match', icon:'checked-circle-1'})
                        - advantages.push({name: 'Conosci possibili coinqulini', icon:'chat-app-1'})

                        .row
                            each val, index in advantages
                                .col-lg-4.mb-3.mb-lg-0.text-center
                                    .px-0.px-lg-3
                                        .icon-rounded.bg-primary-light.mb-3
                                            +svgIcon(val.icon, 'text-primary w-2rem h-2rem')
                                        h3.h5 #{val.name}

                |{% endfor %}
                                
                | {% else %}
                p.lead.text-muted Per vedere le tue case preferite, devi effettuare il login.
                section.py-6.bg-gray-100
                    .container
                        .text-center.pb-lg-4
                            p.subtitle.text-secondary Convivere con le persone giuste è importane
                            h2.mb-5 In pochi semplici passi

                        - var advantages = []
                        - advantages.push({name: 'Cerca la stanza per te', icon:'property-1'})
                        - advantages.push({name: 'Parla con i coinquilini', icon:'chat-app-1'})
                        - advantages.push({name: 'Fate una proposta', icon:'support-1'})

                        .row
                            each val, index in advantages
                                .col-lg-4.mb-3.mb-lg-0.text-center
                                    .px-0.px-lg-3
                                        .icon-rounded.bg-primary-light.mb-3
                                            +svgIcon(val.icon, 'text-primary w-2rem h-2rem')
                                        h3.h5 #{val.name}


              

                | {% endif %}



            


block additionalScripts
    // Daterange picker

    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js') 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-date-range-picker/0.19.0/jquery.daterangepicker.min.js') 
    script(src='js/datepicker-category.js')  

    include _pug-includes/scripts-nouislider.pug
